<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1> Dice gave the result as: 
        <%= diceval %> </h1>
        <% if(diceval ==6) {%>
        <h2>Woahh.. You can roll your dice againn!!</h2>
        <% } %>
</body>
</html>